<nav class="navbar navbar-dark navbar-expand-lg border-bottom fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand bg-cherry fc-graphite rounded-pill py-3 px-4 text-center" href="#"><span class="title-font fs-3">Mateo García</span><br><span style="font-size:0.8rem">Portfolio</span></a>
      <button class="navbar-toggler btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-light"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav fw-bolder">
          <li class="nav-item px-2">
            <a class="nav-link active text-light fs-5" aria-current="page" href="#projects">Projects</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-light fs-5" href="#tech">Technologies</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-light fs-5" href="#about">About</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-light fs-5" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>