<div class="col">
    <div class="bg-pattern fabric bg-purple"></div>
    <br><br><br>
    <div class="separator"></div>
    <div class="col-12"></div>
    <div class="d-flex flex-wrap justify-content-center col-12 text-center">
    <p class="tag bg-cherry col-4 col-lg-1 fs-6 fs-md-1 col-md-2">Angular v19</p>
    <p class="tag bg-info col-4 col-lg-1 fs-6 fs-md-1 col-md-2">GeneXus 18</p>
    <p class="tag bg-success col-4 col-lg-1 fs-6 fs-md-1 col-md-2">HTML</p>
    <p class="tag bg-primary col-4 col-lg-1 fs-6 fs-md-1 col-md-2">CSS</p>
    <p class="tag bg-cherry col-4 col-lg-1 fs-6 fs-md-1 col-md-2">TypeScript</p>
</div>
    </div>